@use "./subStyle/variable.scss" as *;
@use "./subStyle/mixins.scss" as *;
// GOOGLE FONT
// @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');

body {
  font-family: "Nunito Sans";
  font-weight: 900;
  letter-spacing: 1.3px;
  word-spacing: 2px;
  background-color: $bg-color-ciano !important;
  ul{
    list-style-type: none;
    a{    
      text-decoration: none;
      color: white;
    }
  }
  .btn-around{
    max-width: 100px;
    padding: 5px 25px;
    border-radius: 50px;
    color: $text-primary;
    font-weight: 700;
  }
  // h6,
  // h3,
  // h2 {
  //   line-height: 2rem !important;
  // }
  .container {
    padding: 0 100px;
  }
}
